@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ececec;
}

.hr-line-title::before {
  content: "";
  display: inline-block;
  width: 100px;
  border-top: 1px solid #d2d1d3;
  margin-right: 20px;
  margin-bottom: 4px;
}

.hr-line-title::after {
  content: "";
  display: inline-block;
  width: 100px;
  border-top: 1px solid #d2d1d3;
  margin-left: 20px;
  margin-bottom: 4px;
}